// @import '/global.css';

$tasks-width: 48px;

$headspace-height: 24px;
$headspace-width: 48px;

$days-width: var(--days-width);
$onecost-height: var(--onecost-height);


$frame-color: white;
$frame-char-color: black;

$ideal-color: green; // = var(--ideal-color)
$expected-color: orange;